<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Testing/intellij projects/AddToCartPOM">
        <classes>
            <class name="Definition.TestCasess"/>
            <class name="Pages.BasePage"/>
            <class name="Pages.HomePage"/>
            <class name="Pages.LoginPage"/>
            <class name="Pages.CartPage"/>
            <class name="Pages.ItemsPage"/>
        </classes>
    </test>
</suite>